.calebtn{
    background-color: var(--color-primary);
}
.search-container {
  position: relative;
  width: 100%;
}

.search-input {
  padding-left: 40px; 
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px; 
  transform: translateY(-50%);
  color: #6c757d; 
  font-size: 16px;
  pointer-events: none;
}
