<app-navbar layout="auth"></app-navbar>

<div class="container">
  <div class="forms-container">
    <div class="signup-container">
      <form class="sign-up-form">
        <h2 class="title">Sign Up</h2>

         <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Name" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email address" />
        </div>
        <div class="input-field">
          <i class="fas fa-phone"></i>
          <input type="text" placeholder="Phone Number" />
        </div>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="RePassword" />
        </div>

        <button type="submit" class="btn solid">Register</button>

        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
         <h3>Welcome!</h3>
        <p class="pb-5">We’re glad to have you with us. Please provide your information to get started with your care</p>
      </div>
      <img src="Images/register.svg" class="image" alt="">
    </div>
  </div>
</div>

<!-- <app-footer class="mt-5"></app-footer> -->