<!-- NAVBAR -->
  <header>
    <div class="navbar">
      <div class="logo"><i class="fas fa-heart-pulse"></i> HealthCarePlus</div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Services</a></li>
      </ul>
      <div class="navbar-buttons">
        <a href="#" class="sign-in-btn">Sign In</a>
        <a href="#" class="btn">Get Started</a>

      </div>
      <div class="hamburger" aria-label="Open menu" role="button" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
