.cursor-pointer {
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.badge {
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 0.4em 0.6em;
  border-radius: 0.5rem;
}
.card .btn1 {
   background-color: var(--color-primary);
}
.calebtn{
   background-color: var(--color-primary);
}
.calendar-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-days,
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day-name {
  font-size: 0.9rem;
}

.calendar-day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: default;
  transition: 0.2s;
}

.calendar-day:hover {
  background-color: #e7f1ff;
}

.calendar-day.has-appointment {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
}

.modal-header{
  background-color: var(--color-primary);
}