
body {
  font-family: "Tajawal", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #ffffff;
  padding: 35px 40px;
  width: 360px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0, 123, 255, 0.15);
  margin: auto;
  transform: translateY(50%);
}

.login-card h2 {
  color: #0077b6;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #004a74;
  font-size: 0.95rem;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c8d6e5;
  outline: none;
  margin-bottom: 5px;
  transition: 0.3s;
}

input:focus {
  border-color: #0077b6;
  box-shadow: 0 0 6px rgba(0, 119, 182, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #00b4d8;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover:not(:disabled) {
  background: #0077b6;
}

button:disabled {
  background: #9ccfe3;
  cursor: not-allowed;
}

.error {
  color: #d90429;
  font-size: 0.85rem;
  margin-bottom: 8px;
}
