<div class="login-card">
<h2>تسجيل الدخول</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
<label>البريد الإلكتروني</label>
<input type="email" formControlName="email" placeholder="email@example.com" />
<div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
ادخل بريد إلكتروني صحيح.
</div>


<label>كلمة المرور</label>
<input type="password" formControlName="password" placeholder="password" />
<div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
كلمة المرور قصيرة.
</div>


<div class="error" *ngIf="error">{{ error }}</div>


<button type="submit" [disabled]="form.invalid">دخول</button>
</form>


</div>