.not-contaier {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 12px;
    border: 2px solid var(--color-bg-section);
    padding: 16px 5%;
}
.not-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-bg-section);
}
i {
    font-size: 24px;
    margin: 4px 0;
    color: var(--color-primary);
}
.not-header h2 {
    font-size: 24px;
    margin: 0 20px 0 0;
}
.not-header span {
    font-size: 16px;
    color: white;
    background-color: var(--color-primary);
    padding: 4px 16px;
    border-radius: 16px;
    align-self: center;
}
.nots-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.not {
    background-color: var(--color-bg-section);
    border: 1px solid var(--color-border-card);
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s;
    display: flex;
    width: 100%;
}
.not:hover {
    box-shadow: var(--shadow-medium);
    transform: translateY(-4px);
}
.not .not-info {
    width: 100%;
}
.not i {
    font-size: 24px;
    color: var(--color-primary);
    margin-right: 16px;
    padding-top: 15px;
}
.not .not-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.not .not-head h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-text-main);
}
.not .not-head .not-left {
    display: flex;
    align-items: left;
    gap: 12px;
    justify-items: right;
}
.not .not-head .not-left span {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    padding: 5px 0;
}
.not .not-head .not-left button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--color-text-muted);
    font-size: 1.2rem;
}
.not .not-head .not-left button i {
    padding: 0;
    margin: 0;
}
.not .not-head .not-left button i:hover {
    color: var(--color-text-muted-hover);
}
.not .not-info p {
    margin: 0;
}
.not .not-info span {
    font-size: 0.9rem;
    color: var(--color-primary);
}
.not button.read-not {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    padding: 0;
}
.not button.read-not span {
    color: var(--color-primary);
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 8px;
    display: inline-block;
}
