<div class="dashboard-container">
  <aside class="sidebar" [ngClass]="{ 'mobile-open': isMenuOpen }">
    <div class="menu-toggle" (click)="toggleMenu()">
      <span>Mike Wilson - City </span>
      <span class="menu-icon"><i class="fas fa-bars"></i></span>
    </div>

    <div class="user-info">
      <p class="user-name">Mike Wilson</p>
      <p class="doc-name">City </p>
    </div>

    <nav class="navigation">
      <a class="nav-item" routerLink="Appointments" routerLinkActive="active">
        <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
        <span class="text">Appointments</span>
      </a>

      <a
        class="nav-item"
        routerLink="Medical-Records"
        routerLinkActive="active"
      >
        <span class="icon"><i class="fa-solid fa-file-lines"></i></span>
        <span class="text">Medical Records</span>
      </a>

      <a class="nav-item" routerLink="Patients" routerLinkActive="active">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="text">Patients</span>
      </a>

      <a class="nav-item" routerLink="My-Profile" routerLinkActive="active">
        <span class="icon"><i class="fa-solid fa-user-doctor"></i></span>
        <span class="text"> Profile</span>
      </a>

      <div class="sign-out-mobile-container">
        <a href="#" class="sign-out-btn-mobile">
          <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
          <span class="text">Sign Out</span>
        </a>
      </div>
    </nav>

    <div class="sign-out-desktop-container">
      <a href="#" class="sign-out-btn">
        <span class="icon"><i class="fa-solid fa-calendar-days me-2"></i></span>
        Sign Out
      </a>
    </div>
  </aside>

  <main class="main-content">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </main>
   <app-custom></app-custom>
</div>

