<!-- HERO -->
  <section class="hero" id="home">
    <div class="hero-slide active" style="background-image:url('akram-huseyn-brbF5FSnSgI-unsplash.jpg');"></div>
    <div class="hero-slide" style="background-image:url('arseny-togulev-DE6rYp1nAho-unsplash.jpg');"></div>
    <div class="hero-slide" style="background-image:url('DeWatermark.ai_1760229360557.jpeg');"></div>

    <div class="hero-content">
      <h1>Transform Healthcare with <span>Intelligent Management</span></h1>
      <p>Streamline your hospital operations with our integrated management system. Manage appointments, patient records, and medical staff easily and securely.</p>
      <div class="hero-buttons">
        <button class="btn-primary">Get Started</button>
        <button class="btn-outline" >Watch Demo</button>
      </div>
      <!-- ---------- VIDEO MODAL ---------- -->
<div class="video-modal" id="videoModal">
  <div class="video-content">
    <span class="close-video">&times;</span>
    <iframe
      id="demoVideo"
      width="800"
      height="450"
      src=""
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

    </div>
<!--HERO  stat-->
    <div class="hero-stats" aria-hidden="false">
        <div class="stat-item">
            <h3>500+</h3>
            <p>Hospitals</p>
        </div>
        <div class="stat-item">
            <h3>10K+</h3>
            <p>Doctors</p>
        </div>
        <div class="stat-item">
            <h3>1M+</h3>
            <p>Patients</p>
        </div>
        <div class="stat-item">
            <h3>99.9%</h3>
            <p>Uptime</p>
        </div>
    </div>
  </section>
