.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid  var(--color-primary);
}
h3{
    color:  var(--color-primary);
}
.card {
  max-width: 800px;
  margin: 0 auto;
}

.btn {
  transition: all 0.3s ease;
  
}

.btn:hover {
  background-color:  var(--color-primary);
  color: #fff;
}
